@{
    ViewData["Title"] = "Our Clients";
}
<header class="client">
    <h1>@ViewData["Title"]</h1>
</header>

<section id="clients" class="container my-5">
<h2 class="text-center">Our Clients</h2>
<div class="row">
    <div class="col-md-6">
        <ul>
            <li>Tata Advance Systems Ltd</li>
            <li>Zenviron Engineering Solutions</li>
            <li>Amrita Hospitals</li>
            <li>Itopia Infotech</li>
            <li>Lohia Corp Ltd</li>
            <li>Synergy Corporate Interiors Pvt Ltd</li>
            <li>Brookfield Properties</li>
            <li>Sysmec Automation</li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li>Lutron Technologies</li>
            <li>Krisumi Corporation Pvt. Ltd.</li>
            <li>Advance India Projects Ltd</li>
            <li>Trident Ltd</li>
            <li>Grande Castello Private Limited</li>
            <li>Mahamaya Infrastructure Pvt Ltd</li>
            <li>Hindustan Syringes and Medical Devices Limited</li>
            <li>D S Group</li>
        </ul>
    </div>
</div>

</section>
