@{
    ViewData["Title"] = "Our Clients";
}
<header class="client">
    <style>
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            margin: 10px 0;
            justify-content: center;
        }

        #clients img {
            width: 200px; /* Adjust size as needed */
            height: 50px;
            margin-right: 10px;
            object-fit: contain;
        }
    </style>
</header>

<section id="clients" class="container my-5">
    <h2 class="text-center">Clients</h2>
<div class="row">
    <div class="col-md-4">
        <ul>
                <li><img src="~/Images/logo/Tata.png" alt="Tata Advance Systems Ltd"></li>
                <li><img src="~/Images/logo/zenvirn.png" alt="Zenviron Engineering Solutions"></li>
                <li><img src="~/Images/logo/Amrita.png" alt="Amrita Hospitals"></li>
                <li><img src="~/Images/logo/itopia.png" alt="Itopia Infotech"></li>
                <li><img src="~/Images/logo/Lohia.png" alt="Lohia Corp Ltd"></li>
                <li><img src="~/Images/logo/synergy.png" alt="Synergy Corporate Interiors Pvt Ltd"></li>
                <li><img src="~/Images/logo/Brookfield.png" alt="Brookfield Properties"></li>
                <li><img src="~/Images/logo/sysmac.png" alt="Sysmec Automation"></li>
                <li><img src="~/Images/logo/chart.png" alt="Chart"></li>
                <li><img src="~/Images/logo/skootr.png" alt="Skootr"></li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
                <li><img src="~/Images/logo/Lutron.png" alt="Lutron Technologies"></li>
                <li><img src="~/Images/logo/krisumi.png" alt="Krisumi Corporation Pvt. Ltd."></li>
                <li><img src="~/Images/logo/AIPL.png" alt="Advance India Projects Ltd"></li>
                <li><img src="~/Images/logo/trident.png" alt="Trident Ltd"></li>
                <li><img src="~/Images/logo/grande.png" alt="Grande Castello Private Limited"></li>
                <li><img src="~/Images/logo/Tele.png" alt="Tele performance"></li>
                <li><img src="~/Images/logo/HMD.png" alt="Hindustan Syringes and Medical Devices Limited"></li>
                <li><img src="~/Images/logo/DS.png" alt="D S Group"></li>
                <li><img src="~/Images/logo/rama.png" alt="Rama"></li>
                <li><img src="~/Images/logo/Taj.png" alt="Suntory"></li>
        </ul>
    </div>
        <div class="col-md-4">
            <ul>
                <li><img src="~/Images/logo/AM.png" alt="American Express"></li>
                <li><img src="~/Images/logo/Anantara.png" alt="Anantara"></li>
                <li><img src="~/Images/logo/Elan.png" alt="Elan"></li>
                <li><img src="~/Images/logo/flip.png" alt="Flip Spaces"></li>
                <li><img src="~/Images/logo/KJS.png" alt="KJS"></li>
                <li><img src="~/Images/logo/LAndT.png" alt="L and T"></li>
                <li><img src="~/Images/logo/perfetti.png" alt="Perfetti"></li>
                <li><img src="~/Images/logo/popcorn.png" alt="Popcorn"></li>
                <li><img src="~/Images/logo/beam.png" alt="Beam"></li>
            </ul>
        </div>
</div>

</section>
