@{
    ViewData["Title"] = "Home";
}

<header class="hero">
    <h1>Welcome to Hydrox Aquatech Inc</h1>
    <p>Experts in Acoustic, Cladding, Electrical & Chemical Solutions</p>
</header>

<section id="about" class="container my-5">
    <h2 class="text-center">About Us</h2>
    <p>
        Hydrox Aquatech Inc is a leading name in providing world class products and services for Infrastructure Projects, we cater to Wall & Ceiling Cladding products for Interior and Exterior Spaces, Elevator Interior, Door Patterns, Acoustic Solutions, Paint & Chemical – Metal Coatings, Wood Coating, Floor Coatings, Waterproofing, Electricals -Switchgear and UPS Solutions, Heating Solutions.
    </p>
    <p>
        We specialize in delivering innovative and durable solutions backed by international partnerships, ensuring high-quality products and services tailored to meet our clients' diverse needs.
    </p>
    <p>
        We believe in creating spaces that inspire joy and connection. Our mission is to provide beautiful, thoughtfully crafted decorative products that enhance everyday living and special occasions. We are committed to sustainability, ethical sourcing, and customer satisfaction.
    </p>
    <p>
        Our expertise spans across various sectors, offering cutting-edge sales and service solutions on a Pan-India level.
    </p>
</section>






