@{
    ViewData["Title"] = "Home";
}

<header class="hero">
    <h1>Welcome to Hydrox Aquatech Inc</h1>
    <p>Experts in Acoustic, Cladding, Electrical & Chemical Solutions</p>
</header>

<section id="about" class="container my-5">
    <h2 class="text-center">About Us</h2>
    <p>Established in 2018, Hydrox Aquatech Inc is a leading name in Infrastructure Technology, providing top-tier solutions in Acoustic, Cladding, Electrical, and Chemical sectors. Founded by Sunil Chaturvedi, our headquarters is based in Delhi/NCR, with a strong presence across India. We specialize in delivering innovative and durable solutions backed by international partnerships, ensuring high-quality products and services tailored to meet our clients' diverse needs. Our expertise spans across various sectors, offering cutting-edge sales and service solutions on a Pan-India level.</p>
</section>






