@{
    ViewData["Title"] = "Technology Partners";
}
<header class="partner">
    <h1>@ViewData["Title"]</h1>
</header>
<section id="partners" class="container my-5">
    <h2 class="text-center">Technology Partners</h2>
    <ul>
        <li><strong>Electrical:</strong> Eaton Power (USA)</li>
        <li><strong>Chemical:</strong> Tobslak India (Germany)</li>
        <li><strong>Acoustic:</strong> Aura Acoustic Systems</li>
        <li><strong>Cladding:</strong> Forms + Surfaces (USA)</li>
    </ul>
</section>
