@{
    ViewData["Title"] = "Our Services";
}
<header class="services">
    <h1>@ViewData["Title"]</h1>
</header>
<section id="services" class="container my-5">
    <h2 class="text-center">Our Services</h2>
    <ul>
        <li>Acoustic Solutions</li>
        <li>Cladding Solutions</li>
        <li>Electrical Solutions</li>
        <li>Chemical Solutions</li>
    </ul>
</section>

