@{
    ViewData["Title"] = "Our Services";
}
<header class="services">
</header>
<section id="services" class="container my-5">
    <h2 class="text-center">Product and Services</h2>
    <p>
        Our Services to be Products & Services
    </p>
    <ul>
        <li>Elevator Interiors</li>
        <li>Wall Claddings</li>
        <li>Door Patterns</li>
        <li>Acoustic Wall & Ceiling</li>
        <li>
            Paint & Chemical
            <ul>
                <li>Interior & Exterior Paint</li>
                <li>Waterproofing</li>
                <li>Wood Coating</li>
                <li>Metal Coating</li>
                <li>Floor Coating</li>
            </ul>
        </li>
        <li>Electricals
            <ul>
                <li>
                    Switchgear
                </li>
                <li>UPS</li>
            </ul>
        </li>
        <li>Heating Systems</li>
    </ul>
</section>

