@{
    ViewData["Title"] = "Our Services";
}
<header class="services">
</header>
<section id="services" class="container my-5">
    <h2 class="text-center">Products and Services</h2>
    <p>
        Products & Services
    </p>
    <ul>
        <li><a href="~/pdf/HydroxLiftInteriors.pdf" target="_blank">Elevator Interiors</a></li>
        <li><a href="~/pdf/BrochureWall.pdf" target="_blank">Wall Clading</a></li>
        <li><a href="~/pdf/HydroxDoorPatterns.pdf" target="_blank">Door Patterns</a></li>
        <li><a href="~/pdf/AcousticsBrochure.pdf" target="_blank">Acoustic Wall & Ceiling</a></li>
        <li>
            <a href="~/pdf/HydroxPaint&Chemical.pdf" target="_blank">Paint and Chemicals</a>
            <ul>
                <li><a href="~/pdf/PaintBrochure.pdf" target="_blank"> Interior & Exterior Paint</a></li>
                <li><a href="~/pdf/HydroxWaterproofing.pdf" target="_blank">Water Proofing</a></li>
                <li><a href="~/pdf/HydroxWoodCatalogue.pdf" target="_blank">Wood Coating</a></li>
                <li><a href="~/pdf/BrochureWood.pdf" target="_blank">Metal Coating</a> </li>
                <li><a href="~/pdf/BrochureWaterproofing.pdf" target="_blank">Floor Coating</a></li>
            </ul>
        </li>
        <li>
            <a href="~/pdf/HydroxElectrical.pdf" target="_blank">Electricals</a>
            <ul>
                <li>
                    <a href="~/pdf/BrochureSwitchgear.pdf" target="_blank">Switchgear</a>
                </li>
                <li><a href="~/pdf/BrochureUPS.pdf" target="_blank">UPS</a></li>
            </ul>
        </li>
        <li><a href="~/pdf/HeatingBrochure.pdf" target="_blank">Heating Systems</a> </li>
    </ul>
</section>

