@{
    ViewData["Title"] = "Why Us";
}
<title>ViewData["Title"]</title>
<meta name="Whyus" content="This will use for hydrox why us page">
<header class="whyus">
</header>
<section id="why-us" class="container my-5">
    <h2 class="text-center">Why Us</h2>
    <ul>
        <li>Quality and Durability</li>
        <li>Innovation and Expertise</li>
        <li>Customer Centric Focus</li>
        <li>International Products</li>
    </ul>
</section>
